// How mixins and include works: https://www.w3schools.com/sass/sass_mixin_include.asp

@mixin clearfix{ //Elements after a floating element will flow around it. Use the "clearfix" hack to fix the problem: https://www.w3schools.com/howto/howto_css_clearfix.asp
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//-----------------------//
//--MEDIA QUERY MANAGER--//
//-----------------------//

/* 

PHone: 0 - 600px
Tablet Portrait: 600 - 900px
Tablet Landscape: 900 - 1200px
Normal Styles: 1200 - 1800px
Desktop: 1800px + 

*/

// $breakpoint argument choices:
// - phone
// - tab-port
// - tab-landscape
// - big-desktop
//1em = 16px
//rems do not work in all browserse in media queries. better to use ems

@mixin respond($breakpoint){
    @if $breakpoint == phone{ //https://sass-lang.com/documentation/at-rules/control/if
        @media (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tab-port{ //https://sass-lang.com/documentation/at-rules/control/if
        @media (max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == tab-landscape{ //https://sass-lang.com/documentation/at-rules/control/if
        @media (max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == small-desktop{
        @media (max-width: 97em) { @content };
    }
    @if $breakpoint == big-desktop{ //https://sass-lang.com/documentation/at-rules/control/if
        @media (min-width: 112.5em) { @content }; //1800px
    }
}
