.row{
    max-width: $grid-width;
    background-color: #eeeeee;
    margin: 0 auto;
    
    &:not(:last-child){
        margin-bottom: $gutter-horizontal;
    } //https://medium.com/design-code-repository/css-selector-not-last-child-48b5192f0b50 //the not function operates allowing everything to be selected except for the specified element, which in this case is the last child

    @include clearfix;
    [class^="col-"] {
        //[] indicates an attribute selector
        //"^" indicates in the attribute selector that we want the beginning to be what we set there. E.g. in this case, this means that this selector will apply to every class that starts with "col-"
        //https://www.w3schools.com/css/css_attribute_selectors.asp
        float: left;
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontal})/2); //#{} syntax is required for the calc function to work in sass
    }

    .col-1-of-3{
        width: calc((100% - #{$gutter-horizontal}*2)/3); 
    }

    .col-2-of-3{
        width: calc(2*((100% - 2* #{$gutter-horizontal})/3) + #{$gutter-horizontal}); 
    }

    .col-1-of-4{
        width: calc((100% - #{$gutter-horizontal}*3)/4); 
    }

    .col-2-of-4{
        width: calc(2*((100% - 3 * #{$gutter-horizontal})/4) + #{$gutter-horizontal}); 
    }

    .col-3-of-4{
        width: calc(3*((100% - 3 * #{$gutter-horizontal})/4) + 2*#{$gutter-horizontal}); 
    }

}