.navigation{
    &_checkbox{
        display: none;
    }

    &_button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 1200;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
    }

    &_background{ //this is the green background that expands when you click on the checkbox
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); //https://www.w3schools.com/cssref/func_cubic-bezier.asp https://cubic-bezier.com/#.17,.67,.83,.67 

        //transform: scale(80);
    }

    &_nav{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1100;
        opacity: 0;
        transform: scale(0);
        width: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &_list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &_item{
        margin: 1rem;
    }

    &_link{

        &:link,
        &:visited{
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            padding: 1rem 2rem;
            background-size: 300%; //by setting the background size bigger than 100%, you make the background bigger than the container it is occupying. In essence, this allows one part of the gradient to be bigger than the other part
            transition: all 0.5s ease;

            span{
                margin-right: 1.5rem;
                display: inline-block;
            }
        }
        
        &:hover,
        &:active{
            background-position: 100%; //by shifting the background 100% to the left, we can achieve the effect that it looks like a transition. Using "right center" and "right" also works
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    //--------------------------//
    //Functionality
    //--------------------------//

    &_checkbox:checked ~ &_background{ //The :checked selector matches every checked <input> element (only for radio buttons and checkboxes) and <option> element. //in this case, when the checkbox is checked, the green background will expand to encompass the defined scale area
        transform: scale(80);
    }

    &_checkbox:checked + &_button &_icon{
        background-color: transparent; //this only works for the middle line as the before and after pseudo elements haven't been selected
    }

    &_checkbox:checked + &_button &_icon::before{
        transform: rotate(135deg);
        top: 0;
    }

    &_checkbox:checked + &_button &_icon::after{
        top: 0;
        transform: rotate(-135deg);
    }

    &_checkbox:checked ~ &_nav{ //The :checked selector matches every checked <input> element (only for radio buttons and checkboxes) and <option> element.
        opacity: 1;
        transform: scale(1);
        width: 100%;
    }

    //--------------------------//
    //Hamburger Icon
    //--------------------------//

    &_icon{
        position: relative;
        margin-top: 3.4rem;

        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s ease;
        }

        &::before{
            top: -.8rem;
        }
        &::after{
            top: .8rem;
        }
    }

    &_button:hover &_icon::before{
        top: -1rem;
    }

    &_button:hover &_icon::after{
        top: 1rem;
    }

}