/*-------------------------*/
/* ------- Buttons --------*/
/*-------------------------*/

.btn{
    &, //https://stackoverflow.com/questions/29696956/shortening-css-selectors-separated-with-a-comma-with-sass 
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s; 
        position: relative; /*required for the absolute positioning on the after pseudo element to work*/
        font-size: $default-font-size;

        //change for the <button> element
        border: none;
        cursor: pointer;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2); /*https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active
    &:focus{ /*activated when you click it*/
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2); 
    }
    &--animated{
        animation: moveInBottom .5s ease-out .75s; /*last value is the delay value*/
        animation-fill-mode: backwards; 
        /*The animation-fill-mode property specifies a style for the element when the animation is not playing (before it starts, after it ends, or both).*/
        /*automatically applies the values at 0% before hte animation starts --The element will get the style values that is set by the first keyframe (depends on animation-direction), and retain this during the animation-delay period*/ /*https://www.w3schools.com/cssref/css3_pr_animation-fill-mode.asp*/
    }
    &::after{ /*https://developer.mozilla.org/en-US/docs/Web/CSS/::after*/ /*properties of the after pseudo-element must be the same as the original element*/
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute; /*necessary to place this pseudo element behind the actual button*/
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s ease;
    }

    &--white{
        background-color: $color-white;
        color: $color-grey-dark;
        &::after{
            background-color: $color-white;
        }
    }

    &--green{
        background-color: $color-primary;
        color: $color-white;
        &::after{
            background-color: $color-primary;
        }
    }
}

.btn-text{
    &:link,
    &:visited{
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: solid 1px $color-primary;
        padding: 3px;
        font-size: $default-font-size;
        transition: all 0.2s ease;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(0px);
    }
}